label{
  font-family: "comic sans",sans-serif;

  margin : 0 0 15px;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

  input{
    font-family: "comic sans",sans-serif;
    border: 0;
    padding: 15px;
    font-size: 14px;
  }

  .hide-file {
      /* position: absolute;
      z-index: 1000;
      opacity: 0;
      cursor: pointer;
      right: 0;
      top: 0;
      height: 50%;
      font-size: 24px;
      width: 50%; */
  }
/* textarea {width:620px;}

.login{
width:100%;
border-radius: 10px;
font-family:raleway;
border: 2px solid #ccc;
padding: 10px 40px 10px;
word-wrap: break-word;
} */
#close-btn{
  margin-left: -420px;
width: 10px;
height: 10px;
}
.fonts{
  font-size: 18;
  font: Arial;
}
#labelSearch{
    margin: 0 93px 15px;
    }
#button{
  background-color: orange;
  color:white;
  display: block;
}
.parent {
overflow: hidden;
}

.archive{
  font-family: Arial, Helvetica, sans-serif; word-wrap:break-word;font-weight: bold;font-size: 30px;
}

#archive-btn{
  margin:-49px 0px 4px 357px;
}
#pinondashboard{
  float: right;
}
.margintop-10{
  margin-top:-10px;
}
.paddingleft-1{
  padding-left:100px
}
.paddingleft{
  padding-left:130px;
}
#otherDash{
  float:right;
  margin-top: -14px;
}
.contentsize{
      margin-top: -63px;
}
.placesize{
  width:400px;
}
.profile
{
    width: 35px;
    height: 35px;
    border-radius: 50px;

}
.labeldialog{
  border: none;
  outline: none;
  margin-left: 15px;
}
.pinother{
  width:200px;
}
.pincard{
  margin-top: 20px;
}
#cl{
  margin-left:163px;
}
.createLabe{
  border:none;outline: none;
}
.btn-licon{
  margin-top: 11px;
}
.divicon{
  width:50px;
  height:50px;
}
.reminderimg{
  width: 18px;
height: 18px ;
}
.chip{
  margin: 0px auto;padding: 0px;
}
.chipstyle{
  margin-left: 5px;
}
#header-btn{
  margin-left: 270px;"
  width:300px;
}
#close-btn{
    float: right;
    padding-top: -116px;
    margin-top: -38px;
    border-radius: 10px;
}
#right{
  margin-left: 71px ;
}
#notecard1{
  width: 400px;
  margin-top:10px;
}
.notecard{
      margin-top: 85px;
      width:600px;
}
.dialog{
  margin-top:14px;
}
.popup{
  color:black;
  border-radius:05px;
  margin-left:380px;
margin-top: -37px;
width:10px;
}
.take_note{
  margin-left :400px;
  margin-top:10px;
}
#card{
width: 400px;
margin: 0px 0px 0px 450px;
}
#forgot{
      margin: 98px 525px 0px 342px;
}
#search{
  width: 713px;
border-radius: 60px;
    margin-top: 35px;
    }
#searchIcon{
    margin: -30px 132px 6px -722px;

    }
#navabarcolor{
  color: rgba(68, 61, 61, 0.87);
}
#md-icon {
  style="color: black;"
    margin: 7px 4px 3px 6px;
}
span[contentEditable="true"] {
    outline: none;
}
#sidebar{
  margin :0px 0px 0px 30px;
}
.colornote{
  border-radius:20px;
  width:50px;
  height:50px;
}
.das{
  width:600px;
  margin: 25px -211px 0px 454px;
}
.navcard {
  transition: all linear 0.5s;
  background-color: lightblue;
  height: 100px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}
.navhide {
  height: 50;
  width: 50;
  background-color: transparent;
  top:-200px;
  left: 200px
}
.colorBox{
  width:5px;
  height:15px;
  margin: 10px 15px 10px 10px;
  border-radius:50%;
}
.intial-text{
  width: :100px;
  font-weight: bold;
}
.content{
  margin-top:40px;
}
div[contenteditable]:empty::before {
	content: attr(data-placeholder);
	color: #888a85;
}
.btn.active {
    background-color: #666;
    color: white;
}
.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

#profile{
  width: 37px;
height: 30px;
border-radius: 50%;
}

#babyimg{
  width: 85px;
  height: 40px;
  border-radius: 50px;
}

.textshift{
  padding-left:152px;
}

.search{
  background-color:white;
  height: 52px;
  width: 700px;"
}

.searchimg{
  margin-top: 10px;
}
