
<div ng-init="getAllNote()">
 <div layout="row" layout-align="center center"  layout-wrap layout-fill >

<md-card  class="mycard" ng-repeat="note in notes | filter:{pin:false,archive:true,trash:false}" style="background-color:{{x.color}};width:400px;" >
  <md-card-title ng-click="showAdvanced($event,note)">
      <div class="intial-text" contenteditable>{{note.title}}</div>
         </md-card-title>
        <md-button ng-click="updatePin(note)" class="md-icon-button" id="archive-btn">
         <img src="images/pin0.svg"   />
            <md-tooltip>pin note</md-tooltip>
  </md-button>

  <div class="archive">
  </div>
        <md-card-content class="center" ng-click="showAdvanced($event,note)">
             <div class="initial-text" contentediable>{{note.description}}</div>
         </md-card-content>
      <unarchivicon><unarchivicon>
         </div>

</md-card>
</div>
</div>
