
<md-dialog style="width:550px;height:250px;">
<div class="md-dialog-content" ng-init="getUser()">
<div><strong>Collaborator</strong></div>
<md-divider></md-divider>
<div layout="row">
  <div style="width:40px;height:40px;border-radius:40px;border: 1px solid rgba(0,0,0,.5); margin-top: 10px; " >
    <img src="{{userInfo.profilepicImage}}" style="width:100%;border-radius:50%">
   </div>
   <div layout="column" style="margin-top:5px">
   <div style="padding-left:16px;"><strong>{{userInfo.firstname}} {{userInfo.lastname}} </strong></div>
  <div style="padding-left:16px;"> {{userInfo.emailId}} (Owner)</div>
</div>
</div>

 <div layout="row">
  <div  layout="row" ng-repeat="user in noteoj.collaboratedUser " style="width:40px;height:40px;border-radius:50px;border: 1px solid rgba(0,0,0,.5); margin-top: 10px; ">
<img src="{{user.profilepicImage}}"style="width:100%;border-radius:50%" >
  <div style="margin-top:-29px;padding-left:57px;">{{user.emailId}}</div>
<div style="margin-top:15px">
  <span ng-click="removeCollaboratoronNote(user)"><img src="images/baseline-delete-24px.svg" style="margin-top:-37px;padding-left:355px;">cancel</i></span>
  <md-tooltip>Remove collaborator</md-tooltip>

</div>
  </div>
</div>

<div layout="row">
  <div style="margin-top: 10px; ">
  <md-icon style="margin-top:6px;margin-left:5px;" ><img src="images/baseline-person_add-24px.svg"></md-icon>
  </div>

  <md-input-container >
  <md-select ng-model="user" placeholder="Person or email to share with">
    <md-option ng-value="user" ng-repeat="user in getUserInfo" >{{user.emailId }}</md-option>
  </md-select>
</md-input-container>
    <md-icon ng-click=""  style=" margin-left: 200px;"><i class="material-icons">done</i></md-icon>
    <md-tooltip>Add collaborator</md-tooltip>
</div>
<div layout="row" layout-align="end end">
  <md-button ng-click="cancel()">Cancel</md-button>
  <md-button ng-click="addCollaboratorOnNote(user);">Save</md-button>
</div>

</div>
</md-dialog>
