<md-dialog aria-label="Label"  class="label-dialog">
    <md-dialog-content>
        <div class="md-dialog-content">
            <md-subheader class="label-header">Edit labels</md-subheader>
            <div layout="row" layout-align="start center">

                <md-button class="chip" ng-show="add" class="md-icon-button md-icon-left">
                    <i class="material-icons">add</i></md-icon>
                </md-button>

                <md-icon class="btn-licon"><img src="images/baseline-clear-24px.svg"/ ></md-icon> <md-input-container md-no-float class="md-block"><input type="text" class="createLabe" ng-model="name" placeholder="Create new label" /></md-input-container>
                  <md-icon  class="btn-licon"  ng-click="addLabel(label);"><img src="images/baseline-done-24px.svg"/></md-icon>
                </md-button>
            </div>

            <div layout="row" ng-repeat="label in getlabels">
              <span ng-click="deleteLabel(label)" > <img src="images/baseline-delete-24px.svg"/></span>
              <span><img src="images/labe.svg"/></span>
                <input type="text" ng-model="label.name">
                <span class="chip" ng-click="updateLabel(label)"><img src="images/pen.svg"/>
                   <md-tooltip>Rename label</md-tooltip></span>
                </div>

            <span layout="row" layout-align="end end">
                <md-button class="label-btn" ng-click="hideDialogue()">
                    <strong >Done</strong>
                </md-button>
            </span>

    </md-dialog-content>
</md-dialog>
