<md-dialog aria-label="Label"  class="label-dialog">
    <md-dialog-content>
        <div class="md-dialog-content">
            <md-subheader class="label-header">Edit labels</md-subheader>
            <div layout="row" layout-align="start center">
                <md-button ng-click="changeIcon()" style="margin: 0 auto;padding: 0px;" ng-show="close" class="md-icon-button md-icon-left">
                    <md-icon><i class="material-icons">close</i></md-icon>
                </md-button>
                <md-button ng-click="changeIcon()" style="margin: 0 auto;padding: 0px;" ng-show="add" class="md-icon-button md-icon-left">
                    <md-icon><i class="material-icons">add</i></md-icon>
                </md-button>


                 <input type="text" class="createLabe" ng-model="label.name" placeholder="Create new label" />

                <md-button class="md-icon-button md-icon-right" ng-click="addLabel(label);" style="margin: 0 auto;padding: 0px;" ng-show="done">
                  <md-icon><img src="images/baseline-done-24px.svg" />done</md-icon>
                </md-button>
            </div>

          
            <div ng-init="getAllLabels()">
            <div  layout="row" layout-align="start"  ng-repeat="label in getlabels">
               <md-button  ng-click="deleteLabel(label)"  class="chip" class="md-icon-button md-icon md-icon-left">
                    <md-icon><i class="material-icons">delete</i></md-icon>
                </md-button>
                <md-button class="chip" class="md-icon-button md-icon md-icon-left">
                    <md-icon><i class="material-icons">label</i></md-icon>
                </md-button>
                 <input  type="text" ng-mouseover="enableEdit(label)" ng-mouseleave="disableEdit(label)" style="border:none;outline: none;" ng-model="label.name" />

                <md-button  ng-mouseover="enableEdit(label)" ng-mouseleave="disableEdit(label)" class="chip" ng-click="updateLabel(label)" class="md-icon-button md-icon md-icon-right">
                    <md-icon><i class="material-icons">create</i>
                    <md-tooltip>Rename label</md-tooltip></md-icon>
                </md-button>

            </div>
            <div layout="row" layout-align="end end">
                <md-button class="label-btn" ng-click="cancel();addLabel(label);">
                    <strong>Done</strong>
                </md-button>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>
