<div id="sidenavId" flex=100  style="padding-left: 150;">

  <div style="margin-left : 400px;margin-top:20px;">
    <md-card style="width:600px;" ng-show="!showWhenClicked">
      <div layout="row">
        <input type="text" placeholder="Take a note" style="width:400px;" ng-click="showWhenClicked=true" />
      </div>
  </md-card>
</div>

<div layout="row">
  <md-card ng-show="showWhenClicked" style="width:500px; margin: 0px 0px 0px 454px;" >
      <div layout="row">
      <div contenteditable class="intial-text" data-placeholder="Title" ng-model="title" style="width:400px;margin-top: 10px;"> </div>
    <span><img src="images/pin.svg" style="padding-left: 74px;padding-top: 9px "></span>
    <md-tooltip>pin</md-tooltip>
      </div>
      <div layout="row">
    <div contenteditable class="intial-text" data-placeholder="Take a note..." ng-model="description" style="width:400px;margin-top: 10px;"></div>
    </div>
<icon> </icon>
    <div layout="row">
      <md-button ng-click="showWhenClicked=false;noteModel()" style="color:black; border-radius:05px;margin:-38px 496px 0px 490px;">CLOSE</md-button>
  </md-card>
</div>
</div>

<div style="height: 150px;"  >
  <div layout="row" layout-wrap layout-fill data-ng-init="getAllNote()" style="margin-top: 20px;" ng-click="showAdvanced($event,note)">
    <md-card lex-gt-xs=30 flex-xs=100 style="background-color:{{note.color}}" ng-repeat="note in notes | filter:{trash:false,archive:false,pin:false}|orderBy: '-notes':true " flex="30" ng-mouseover="hoverIn($event)" ng-mouseleave="hoverOut($event)">
    <md-card-content><div>{{note.title}}</div>
    <div >{{note.description}}</div>
    <div layout="row" ng-show="hoverEdit"></div>
    </md-card-content>
    <icon></icon>
  </md-card>
</div>
</div>

</div>
