<div layout="row">
<md-menu>
  <span ng-click="$mdMenu.open($event)">
    <md-icon style="margin-left:-6px;margin-bottom: -33px;"><img src="images/reminders.svg" /></md-icon>
    <md-tooltip>remind me</md-tooltip>
  </span>
       <md-menu-content  width="6" direction="down" flex  class="margintop-10">
                  <div>Reminder: </div>
                  <md-menu-item  ng-click="todayReminder(note)" readonly>
                    <div>Later today</div>
                  <div class="paddingleft" readonly>8.00 PM</div>
                  </md-menu-item>
                  <md-menu-item ng-click="tomorrowReminder(note) " readonly>
                    <div>Tomorrow </div>
                    <div class="paddingleft">8.00 AM</div>
                  </md-menu-item>
                  <md-menu-item ng-click="nextWeekReminder(note)" readonly >
                    <div>Next week </div>
                    <div class="paddingleft-1">Mon, 8.00 AM </div>
                  </md-menu-item>

                <md-menu-item>
                  <md-menu>
              <md-button ng-click="$mdMenu.open()"><img src="images/clock.svg" class="reminderimg"/>  <label>Pick date & time</label></md-button>
              <md-menu-content style="width:350px;">
                <md-menu-item><md-button ng-click="" style="width:3px;"><img src="images/arrowbavk.svg"/></md-button>Pick date & time</md-menu-item>
                <md-menu-item><input type="date" min="{{ today | date: 'MMMM d,y' }}" ng-model="note.reminderDat"/></md-menu-item>
                <md-menu-item ng-model="note.reminderTime ">
                  <select class="form-control">
                  <option value="Morning">8.00 AM</option>
                  <option value="AfterNoon">1.00 PM</option>
                  <option value="Evening">6.00 PM</option>
                  <option value="Night">9.00 PM</option>
                  </select> </md-menu-item>

                  <md-menu-item>
                                <div layout="row" layout-align="end end">
                                  <input type="button"  value="Save"  ng-click="ReminderDate(note)">
                                </div>
                           </md-menu-item>
              </md-menu-content>
            </md-menu>
              </md-menu-item>

              <md-menu-item><md-button ng-click=""><img src="images/place.jpg" class="reminderimg"/> Pick place</md-button></md-menu-item>
  </md-menu-content>

</md-menu-item>
</md-menu>
</div>


<div  ng-mouseover="open = true" ng-mouseleave="open = false" style="padding-left:31px;">
  <span>
    <md-icon><img src="images/baseline-person_add-24px.svg" /></md-icon>
    <md-tooltip>Collabarator</md-tooltip>
</span>

  <md-menu>
 <span style="margin: 0 auto;padding:0px;padding-left:10px;" ng-mouseenter="$mdMenu.open()"  >
   <md-icon><img src="images/baseline-color_lens-24px.svg"/></md-icon><md-tooltip>Change color</md-tooltip>
 </span>
 <md-menu-content width="2" ng-mouseleave="$mdMenu.close()">
   <md-menu-item ng-repeat="x in customerData">
     <div class="colorBox" ng-repeat="t1 in x" ng-style="{'background-color':t1.name};" ng-click="updateColor(note,t1.name)"></div>
   </md-menu-item>
 </md-menu-content>
 </md-menu>

<span style="padding-left:10px;" >
  <md-icon><i class="material-icons" >photo</i></md-icon>
  <md-tooltip>Add image</md-tooltip>
</span>

  <span style="padding-left:10px;">
    <md-icon ng-click="isArchive(note);" > <img src="images/archive.svg" /></p></md-icon>
    <md-tooltip>Archive</md-tooltip>
  </span>

    <md-menu>
      <span style="padding-left:10px;" class="chip" ng-click="$mdMenu.open($event)" >
      <md-icon><i class="material-icons">more_vert</i><md-tooltip>more</md-tooltip>
      </md-icon>
    </span>
        <md-menu-content>
          <md-menu-item><md-button ng-click="isTrash(note)">Delete note</md-button></md-menu-item>
          <md-menu-item><md-button ng-click="showlabelDialog($event,label)">Add Label</md-button>
          </md-menu-item>
        </md-menu-content>

      </md-menu>


</div>
