<md-toolbar  class="md-toolbar-tools" style="background-color:#fb0;" >

  <md-button class="md-icon-button">
   <md-icon> <i class="material-icons">menu</i></md-icon>
   <md-tooltip>main menu</md-tooltip>
   </md-button>

<div>
  <input placeholder="Search" style="width: 609px;">
  <md-icon><i class="material-icons">search</i></md-icon>
</div>
   <md-button class="md-icon-button">
   <md-icon><i class="material-icons"> refresh</i></md-icon>
   <md-tooltip>refresh</md-tooltip>
 </md-button>

   <md-button class="md-icon-button">
   <md-icon> <i class="material-icons">view_stream</i></md-icon>
   <md-tooltip>list-view</md-tooltip>
   </md-button>

   <md-button class="md-icon-button">
     <md-icon><i class="material-icons">apps </i> </md-icon>
     <md-tooltip>app</md-tooltip>
   </md-button>

   <md-button class="md-icon-button">
     <md-icon> <i class="material-icons">notifications</i></md-icon>
     <md-tooltip>Notification</md-tooltip>
   </md-button>







<md-button class="md-icon-button">
  <md-icon> <i class="material-icons">account_circle</i></md-icon>
  <md-tooltip>Google Account</md-tooltip>
</md-button>



  <span flex> </span>
</md-toolbar>
<md-content class="md-padding">
</md-content>
