<div ng-init="getAllNotes()">
<md-dialog  style="width: 600px;height: 182px;">
    <div newcontenteditable contenteditable="true" >{{mydata.title}} </div>
    <md-icon><img src="images/pin0.svg" style="margin-top: -43px;margin-left: 200px;"/ >
    </md-icon>

    <div newcontenteditable contenteditable="true" >{{mydata.description}}
    </div>
<div class="dialog">  <icon></icon></div>
        <div >
       <md-button  ng-click="cancel();updateNoteTitleDescripn()"class="popup">CLOSE</md-button>
     </div>
</md-dialog>
</div>
