<div style="width:100%;padding-top:65px;"  layout = "column" layout-align="center center">
<div id="myDiv" style="padding-top:15px" style="width:70%" layout-align="center center"  >
  <div layout="row"  style="width:800px"  layout-wrap>
    <md-card class="mdcard" style="" ng-repeat="notes in allNotes |filter : search | filter :{ isArchived: false ,isTrashed:false,isPinned:true}" style="width:250px;" ng-style="{'background-color': notes.color}" ng-click="showDialogue($event,notes)">
      <div layout="row" layout-align="space-between center">
        <div>
          <div class="intial-text after-click" contenteditable>{{notes.title}}</div>
        </div>
        <div>
          <md-button class="md-icon-button" ng-click="updatePin(notes)">
            <img ng-if="notes.isPinned === true"  src="images/bluePin.svg">
              <img ng-if="notes.isPinned === false"  src="images/pin.svg">
          </md-button>
          <md-tooltip>Pin Note</md-tooltip>
        </div>
      </div>
      <div contenteditable  style=" font-family: Arial, Helvetica, sans-serif; word-wrap:break-word;font-weight: bold;font-size: 30px;"
     ng-bind-html = "notes.description"></div>
      <div style="height:80px" ng-mouseover="first=true" ng-mouseout="first=false">
        <div ng-show="first">
          <icons></icons>
          <archiveicon></archiveicon>
          <md-menu>
            <md-button aria-label="Open menu with custom trigger" class="md-icon-button" ng-click="$mdMenu.open($event)">
              <md-icon><img src="images/more.svg" /></md-icon>
            </md-button>
            <md-menu-content width="4" ng-click="$mdMenu.close($event)">
              <md-menu-item ng-repeat="item in menuList">
                <md-button ng-click="ctrlNote($index,notes)">
                  {{item.option}}
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </div>
    </md-card>
</div>



<!-- <md-subheader><strong>Other</strong></md-subheader> -->
<!-- <div layout="row" layout-xs='column' layout-wrap class="md-padding" style="margin-left:150px"> -->
  <div layout="row" style="width:800px"  layout-wrap>
    <md-card  class="mdcard" style="" ng-style="{'background-color': notes.color}" ng-click="showDialogue($event,notes)"
     ng-repeat="notes in allNotes | orderBy:'notes' |filter : search | filter :{ isArchived: false ,isTrashed:false,isPinned:false} ">
      <div layout="row" layout-align="space-between center">
        <div>
          <div class="intial-text after-click" contenteditable>{{notes.title}}</div>
          <!-- <div style=" font-family: Arial, Helvetica, sans-serif; word-wrap:break-word;font-weight: bold;font-size: 30px;"><strong> {{notes.description}} </strong></div> -->
        </div>
        <div>
          <md-button class="md-icon-button" ng-click="updatePin(notes)">
            <img ng-if="notes.isPinned === true"  src="images/bluePin.svg">
              <img ng-if="notes.isPinned === false"  src="images/pin.svg">
          </md-button>
          <md-tooltip>Pin Note</md-tooltip>
        </div>
      </div>
      <div contenteditable  style=" font-family: Arial, Helvetica, sans-serif; word-wrap:break-word;font-weight: bold;font-size: 30px;">
        <strong ng-bind-html="notes.description">  </strong></div>
      <div style="height:80px" ng-mouseover="first=true" ng-mouseout="first=false">
        <div ng-show="first">
          <icons></icons>
          <archiveicon></archiveicon>
          <md-menu>
            <md-button aria-label="Open menu with custom trigger" class="md-icon-button" ng-click="$mdMenu.open($event)">
              <md-icon><img src="images/more.svg" /></md-icon>
            </md-button>
            <md-menu-content width="4" ng-click="$mdMenu.close($event)">
              <md-menu-item ng-repeat="item in menuList">
                <md-button ng-click="ctrlNote($index,notes)">
                  {{item.option}}
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </div>
    </md-card>
  </div>

</div>
</div>
