<div  layout="row" layout-xs='column' layout-align="center-center" layout-wrap style="padding-top:65px;">
  <div  ng-repeat="note in notes | filter :{ isTrash: true,isPin:false,isArchive:false }">
    <md-card style="width:250px;" ng-style="{'background-color': notes.color}">
      <div layout="row" layout-align="space-between center">
        <div>
          <p> {{notes.title}} </p>
        </div>
      </div>
      <div><strong> {{note.description}} </strong></div>
      <md-menu>
        <md-button aria-label="Open menu with custom trigger" class="md-icon-button" ng-click="$mdMenu.open()">
          <md-icon><img src="images/baseline-more_vert-24px.svg" /></md-icon>
        </md-button>
        <md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
          <md-menu-item ng-repeat="item in trashList">
            <md-button ng-click="trashNote($index,note)">
              {{item.option}}
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
  </div>

</md-card>
</div>
