<div id="sidenavId" data-ng-init="getAllNote()" style="margin-top:100px;" >
  <div layout="row" layout-align="center center">
    <md-card ng-repeat="note in notes|filter:{trash:true} " ng-style="{'background-color': note.color}" style="width:250px;">

      <div layout="row" style="padding-left: 10px;" ng-click="showAdvanced($event,note)">
        <strong>{{note.title}}</strong>
      </div>
      <div class="b" style="padding-left:10px;padding-top: 30px;" ng-click="showAdvanced($event,note)">{{note.description}}</div>
    <urlimage></urlimage>

      <md-menu>
        <md-button aria-label="Open menu with custom trigger" class="md-icon-button" ng-mouseenter="$mdMenu.open()">
          <md-icon><img src="images/baseline-more_vert-24px.svg" /></md-icon>
        </md-button>
        <md-menu-content width="2" ng-mouseleave="$mdMenu.close()">
          <md-menu-item ng-repeat="item in ['Delete forever','Restore']">
            <md-button ng-click="trashNote($index,note)">
              {{item}}
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
  </div>

  </md-card>
</div>
